@import "compass/utilities/sprites";
@import "compass/css3/animation";

$animation-sequence-name: 'walk-cycle' !default;

@mixin animation-sequence-sprite-generator($folder) {
  $png-path: $folder + '/*.png';
  $png-path: sprite-map($png-path);

  %#{sprite-map-name($png-path)}-animation-sequence {
    background: $png-path 0 0 no-repeat;
  }
}

@mixin animation-sequence-object($folder, $time, $animation:$animation-sequence-name) {
  $png-path: $folder + '/*.png';
  $sprite-map: sprite-map($png-path);
  $sprite-path: sprite-path($sprite-map);

  $steps: length(sprite-names($sprite-map));

  $height: image-height($sprite-path);
  $width: image-width($sprite-path);

  height: $height / $steps;
  width: $width;

  @extend %#{sprite-map-name($sprite-map)}-animation-sequence;
  @include animation(unquote($animation) $time steps($steps) infinite);
}

@mixin animation-sequence-keyframes($folder, $name: $animation-sequence-name) {
  $png-path: $folder + '/*.png';
  $sprite-map: sprite-map($png-path);
  $sprite-path: sprite-path($sprite-map);
  $height: image-height($sprite-path);

  @include keyframes($name) {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 $height * -1;
    }
  }
}