@-moz-keyframes walk-cycle {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 109.09091%;
  }
}

@-webkit-keyframes walk-cycle {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 109.09091%;
  }
}

@-o-keyframes walk-cycle {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 109.09091%;
  }
}

@keyframes walk-cycle {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 109.09091%;
  }
}

.tuna {
  height: 200px;
  width: 400px;
  background: url('../images/tuna-walk-s77788462e5.png') 0 0 no-repeat;
  -webkit-animation: walk-cycle 1s steps(12) infinite;
  -moz-animation: walk-cycle 1s steps(12) infinite;
  -o-animation: walk-cycle 1s steps(12) infinite;
  animation: walk-cycle 1s steps(12) infinite;
}

.tuna-paused {
  background: url('../images/tuna-walk-s77788462e5.png') 0 90.90909% no-repeat;
  height: 200px;
  width: 400px;
}

.alice {
  background: url('../images/alice-sc050641834.png') 0 0 no-repeat;
  -webkit-animation: 1.5s "cycle" steps(6) 3;
  -moz-animation: 1.5s "cycle" steps(6) 3;
  -o-animation: 1.5s "cycle" steps(6) 3;
  animation: 1.5s "cycle" steps(6) 3;
  background-size: 100% auto;
  width: 31.25%;
  padding-top: 48.73%;
}

@-moz-keyframes cycle {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 120%;
  }
}

@-webkit-keyframes cycle {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 120%;
  }
}

@-o-keyframes cycle {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 120%;
  }
}

@keyframes cycle {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 120%;
  }
}

.alice-frightened {
  background: url('../images/alice-sc050641834.png') 0 0 no-repeat;
  -webkit-animation: freak-out 1.5s steps(2) infinite;
  -moz-animation: freak-out 1.5s steps(2) infinite;
  -o-animation: freak-out 1.5s steps(2) infinite;
  animation: freak-out 1.5s steps(2) infinite;
  background-size: 100% auto;
  width: 31.25%;
  padding-top: 48.73%;
}

@-moz-keyframes freak-out {
  0% {
    background-position: 0 0%;
  }

  100% {
    background-position: 0 40%;
  }
}

@-webkit-keyframes freak-out {
  0% {
    background-position: 0 0%;
  }

  100% {
    background-position: 0 40%;
  }
}

@-o-keyframes freak-out {
  0% {
    background-position: 0 0%;
  }

  100% {
    background-position: 0 40%;
  }
}

@keyframes freak-out {
  0% {
    background-position: 0 0%;
  }

  100% {
    background-position: 0 40%;
  }
}
